<?xml version="1.0" encoding="UTF-8"?>
<!-- 注意DOCTYPE中的内容 -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="api.mybatis">
	<resultMap id="" type="">
		<result column="" property=""></result>
	</resultMap>
	
	<select id="queryUser" resultType="api.mybatis.UserModel" resultMap="" parameterType="">
		select * from user 
	</select>
	
	<insert id="" parameterType="" useGeneratedKeys="true">
	
	</insert>
	
	<update id="" parameterType="">
		
	</update>
	
	<delete id="" parameterType="">
	
	</delete>
</mapper>